---
layout: 'default'
---

<div class="col-wrapper">
    <div class="col me-pic-col">
        <img src="media/me.jpg" class="me-pic">
    </div>
    <div class="col about-col">
        <h1>David Vos</h1>
        <p>I am a recent MSc. graduate in Artificial Intelligence working as a visiting researcher at the Intelligent Data Engineering Lab at the University of Amsterdam.</p>
        <p>My interests are, among other things, working on advanced data pipelines as well as performing research in natural language processing and machine learning.</p>

        <!-- <a href="media/david-vos-cv.pdf" target="_blank" class="button">My CV</a> -->
        <a href="mailto:vos.dja@gmail.com" target="_blank" class="button">Contact Me</a>
    </div>
</div>


<div class="col-wrapper col-info">
    <div class="col">

        <h2>Publications 📝</h2>
        <ul>
            <li>
                <b>Towards Parameter-Efficient Automation of Data Wrangling Tasks with Prefix-Tuning</b></br>
                David Vos, Till Döhmen, Sebastian Schelter<br>
                In <i>The Table Representation Learning Workshop @ NeurIPS 2022</i>
            </li>
            <!-- <li>
                <b>Language control prefixes: Conditional prefix-tuning for efficient multilingual data-to-text generation in low-resource languages</b><br>
                <b>David Vos</b>, Sebastian Schelter<br>
                Master thesis in Artificial Intelligence

            </li> -->
        </ul>

        <h2>Education 🎓</h2>
        <ul>
            <li>
                <b>Master in Artificial Intelligence</b><br>
                University of Amsterdam<br>
                GPA: 8.2/10, cum laude<br>
            </li>
            <li>
                <b>Minor in Computer Science</b><br>
                University of Edinburgh<br>
            </li>
            <li>
                <b>Bachelor in Artificial Intelligence</b><br>
                University of Amsterdam<br>
                GPA: 8.3/10, cum laude<br>
                <i>Completed the official honours programme</i>
            </li>
        </ul>

    </div>
    <div class="col">
        <h2>Sample of my work 👨🏼‍💻</h2>
        <ul>
            <li>My <a href='media/thesis.pdf' target="_blank">master thesis</a> on prefix-tuning for multilingual data-to-text generation.</li>
            <li>I did an internship at <a href='https://www.dpgmediagroup.com/en-NL/in-conversation-with-creators-maarten-deville-on-artificial-intelligence-at-vtm-go' target="_blank">DPG Media (Recommendation & Search)</a>, the biggest media publisher in the Netherlands.</li>
            <li>I worked at <a href='https://www.a-insights.eu/en' target="_blank">A-INSIGHTS</a> as a data engineer on creating efficient data pipelines to provide market insights.</li>
            <li>I worked at <a href='https://site.finly.nl' target="_blank">Finly</a> as a web developer on an application to help (insurance) companies efficiently communicate with their clients.</li>
            <li>A very small <a href='https://chrome.google.com/webstore/detail/close-all-stack-overflow/doiooledckdcghpcbgdfbbohekpgiokl' target="_blank" class="plugin-link">Chrome plugin</a> to quickly close Stack Overflow tabs.</li>
        </ul>

        <h2>Some of my skills 🎯</h2>
        <b>Programming:</b> Python <i>(advanced)</i>, SQL <i>(advanced)</i>, Javascript <i>(advanced)</i>, Latex <i>(advanced)</i>, Go <i>(intermediate)</i>, PHP <i>(intermediate)</i>, Java <i>(intermediate)</i>, R <i>(intermediate)</i>, C <i>(beginner)</i>, Rust <i>(beginner)</i><br>
        <b>Frameworks:</b> PyTorch <i>(advanced)</i>, Django & Flask <i>(advanced)</i>, Laravel <i>(advanced)</i>, React <i>(intermediate)</i><br>
        <b>Languages:</b> Dutch <i>(native)</i>, English <i>(fluent, C2 level with CPE certificate)</i>, German <i>(intermediate, B2 level)</i>
    </div>
</div>